<article id="portfolio" class="container my-4 rounded border border-3 border-dark bg-light">

    <h2 class="my-5 text-center text-decoration-underline fw-bold">Derniers projets réalisés</h2>

    <div id="carouselPortfolio" class="carousel carousel-dark carousel-fade slide my-5" data-bs-ride="carousel">

        <div class="carousel-indicators">

            <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="3" aria-label="Slide 4"></button>

        </div>

        <div class="carousel-inner">
            <div class="carousel-item text-center active">
                <a href="{{ lastProjects['0'].Lien }}" target="_blank">
                    <img src="{{ lastProjects['0'].Image }}" alt="{{ lastProjects['0'].Description }}" title="{{ lastProjects['0'].Description }}">
                </a>
            </div>

            <div class="carousel-item text-center">
                <a href="{{ lastProjects['1'].Lien }}" target="_blank">
                    <img src="{{ lastProjects['1'].Image }}" alt="{{ lastProjects['1'].Description }}" title="{{ lastProjects['1'].Description }}">
                </a>
            </div>

            <div class="carousel-item text-center">
                <a href="{{ lastProjects['2'].Lien }}" target="_blank">
                    <img src="{{ lastProjects['2'].Image }}" alt="{{ lastProjects['2'].Description }}" title="{{ lastProjects['2'].Description }}">
                </a>
            </div>

            <div class="carousel-item text-center" target="_blank">
                <a href="{{ lastProjects['3'].Lien }}">
                    <img src="{{ lastProjects['3'].Image }}" alt="{{ lastProjects['3'].Description }}" title="{{ lastProjects['3'].Description }}">
                </a>
            </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio"  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>

</article>