{% extends "layouts/layout.twig" %}

{% block title %}
    Administration
{% endblock %}

{% block header %}

    {{ include ("layouts/navbar.twig") }}

{% endblock %}

{% block content %}

    <main class="container p-2 my-3 rounded bg-light text-dark">

        <h1 class="my-5 text-center text-decoration-underline fw-bold">Panneau d'administration</h1>

        <section class="Container my-3 border border-2 border-dark rounded">

            <a href="{{ url('projects!create') }}" class="link-dark"><h3 class="my-5 fw-bold text-center">Ajouter un projet</h3></a>

            <h3 class="my-5 fw-bold text-center">Modifier un projet</h3>
            <ul class="container list-group">
                {% for project in projects %}
                    <li class="list-group-item p-3 col-lg-4 offset-lg-4">
                        <a href="{{ url('projects!modify', {'id': project.id}) }}" class="link-dark">{{ project.Titre }}</a>
                    </li>
                {% endfor %}
            </ul>

            <h3 class="my-5 fw-bold text-center">Supprimer un projet</h3>
            <form method="POST" action="{{ url('projects!delete') }}" class="form-group col-lg-4 offset-lg-4 text-center">

                <label for="projectSelect" class="mb-2">Projet à supprimer</label>

                <select id="projectSelect" name="projectSelect" class="form-control my-2 ">

                    {% for project in projects %}
                        <option>
                            {{ project.Titre }}
                        </option>
                    {% endfor %}

                </select>

                <button type="submit" class="btn btn-outline-secondary my-3">Supprimer le projet</button>
            </form>

        </section>

    </main>

{% endblock %}
