{% extends "layouts/layout.twig" %}

{% block title %}

    Développeur web Gaël Dedenis portfolio.

{% endblock %}

{% block navbar %}

    {{ include ("layouts/navbar.twig") }}

    <div class="modal" id="contactModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header bg-secondary">
                    <h5 class="modal-title text-light">Formulaire de contact</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <form id="form_contact" class="container" method="POST" action="{{ url('contact') }}"  enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="nom" class="col-sm-8 col-form-label fw-bold required">Votre nom :</label>
                            <input type="text" class="form-control" id="nom" name="nom" required>
                        </div>
                        <div class="mb-3">
                            <label for="mail" class="col-sm-8 col-form-label fw-bold required">Votre mail :</label>
                            <input type="email" class="form-control" id="mail" name="mail" required>
                        </div>
                        <div>
                            <label for="message" class="col-sm-8 col-form-label fw-bold required">Votre message :</label>
                            <textarea id="message" class="form-control" name="message" rows="6" cols="120"></textarea>
                        </div>
                        <div class="container-fluid text-center">
                            <button type="submit" class="my-3 btn btn-outline-dark fw-bold">Envoyer</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block header %}

    <header class="my-4 bg-dark">

        <h1 class="py-4 text-light text-center text-decoration-underline fw-bold">Gaël Dedenis</h1>

    </header>

{% endblock %}

{% block content %}

    <main class="col-12 bg-light">

        {{ dump(eventContact.success) }}

        {% if eventContact is not empty %}
            <p class="my-5 p-2 border rounded 
                      {% if eventContact.success == 'true' %}
                        border-success text-success
                      {% else %}
                        border-danger text-danger
                      {% endif %}">
                {{ eventContact.message }}<span class="fas fa-times"></span>
            </p>
        {% endif %}

        {{ include ("home_parts/accueil.twig") }}

        {{ include ("home_parts/services.twig") }}

        {{ include ("home_parts/portfolio.twig") }}

        {# {{ include ("home_parts/contact.twig") }} #}

    </main>

{% endblock %}

{% block footer %}

    <footer class="text-light text-center p-4">

        {{ include ("layouts/footer.twig") }}

    </footer>

{% endblock %}

{% block script %}

    <script src="../public/js/ajax.js"></script>
    <script src="../public/js/form_Contact.js"></script>
    <script src="../public/js/main.js"></script>

{% endblock %}



